<header class="topbar">
  <a class="logo" href="/">
    <img class="logo-img" src="/static/brand/logo.svg" alt="wxrks" width="123" height="28">
    <span class="logo-sep"></span>
    <span class="logo-name">{{ surface.name }}</span>
  </a>
  <div class="user-chip">
    {% if user.picture %}<img src="{{ user.picture }}" alt="">{% else %}<span class="avatar">{{ user.name[0] | upper }}</span>{% endif %}
    <span class="name">{{ user.name }}</span>
    <span class="sep"></span>
    <a href="/logout">Log out</a>
  </div>
</header>
